# GitHub actions are pinned to commit hashes to ensure stability and security.

name: Sanity
# Declare default permissions as read only.
permissions: read-all
on: [push]
jobs:
  Sanity:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.12']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          submodules: recursive
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.12
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install wheel
      - run: .venv/bin/python -m pip install -e .[tests]
      - run: .venv/bin/python -m pytest

  Sphinx:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: |
      github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.12
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install wheel sphinx setuptools
      - run: .venv/bin/python -m pip install -e .[docs]
      - run: .venv/bin/python setup.py apidoc
      - run: .venv/bin/python setup.py build_sphinx -W
      - name: Publish Docs to Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23
        with:
          branch: gh-pages
          folder: build/sphinx/html

  Fair-software:
    runs-on: ubuntu-latest
    steps:
      - uses: fair-software/howfairis-github-action@4c11146488125aa6e1531184eed51d781bcd5871
        name: Measure compliance with fair-software.eu recommendations
        env:
          HTTP_TIMEOUT: 90  # Setting timeout to 30 seconds
          PYCHARM_HOSTED: "Trick colorama into displaying colored output" 
        with:
          MY_REPO_URL: "https://github.com/${{ github.repository }}"

  
  # Markdown: 
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
  #   - uses: gaurav-nelson/github-action-markdown-link-check@v1
  #     with:
  #       config-file: '.github/workflows/mlc-config.json'
