# GitHub actions are pinned to commit hashes to ensure stability and security.

name: Release
# Declare default permissions as read only.
permissions: read-all
on:
  push:
    tags:
      - v*

jobs:
  PyPIBuild:
    permissions:
      attestations: write
      
    if: ${{ github.repository == 'resurfemg-org/resurfemg' }}
    name: Tagged Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Python 3.12
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: 3.12
      - run: python3.12 -m venv .venv
      - run: .venv/bin/python -m pip install build wheel twine
      - run: .venv/bin/python -m build
      - run: >-
          TWINE_USERNAME=__token__
          TWINE_PASSWORD=${{ secrets.PYPI_TOKEN }}
          .venv/bin/python -m twine upload --skip-existing ./dist/*
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: pypi-build
          path: dist/*

  PublishArtifacts:
    permissions:
      contents: write
      
    runs-on: ubuntu-latest
    needs: [PyPIBuild]
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          path: dist
      - uses: marvinpinto/action-automatic-releases@d68defdd11f9dcc7f52f35c1b7c236ee7513bcc1
        with:
          repo_token: "${{ secrets.GITHUBTOKEN }}"
          prerelease: false
          files: |
            ./dist/*/linux-64/resurfemg-*.tar.bz2
            ./dist/*/osx-64/resurfemg-*.tar.bz2
            ./dist/*/win-64/resurfemg-*.tar.bz2
            ./dist/pypi-build/*.whl